<h1>Schedule A Tweet</h1>

<%= form_with model: @tweet do |form| %>
    <div class="mb-3">
        <%= form.label :twitter_account_id %>
        <%= form.collection_select :twitter_account_id, Current.user.twitter_account, :id, :username, {}, {class: "form"}%>
        <%= button_to "Connect to Twitter", "/auth/twitter", data: {turbo: "false"}, method: :post, class: "btn btn-primary" %>
    </div>
<div class = "spacer-10"></div>