<div class="about-us-header mt-3">
    <h2>About us</h2>
    <h5>We are Toshi</h5>
</div>

<div class="about-us-body mt-3">
    <p>Toshi Meaning: "mirror reflection" or "year of plenty".</p>
    <p>
        Name Toshi is combinations of, one occurence of H, one occurence of I, one occurence of O,
        one occurence of S and occurence of T has lots of significance in Astrology.

        In Moon sign based Vedic Astrology, person with name Toshi have a character to remain faithful towards
        their work as well as towards their work mates. There is a chance that these people tend to make their
        world according to their own wish. <br><br>These men and women love to be in a world of imagination made of their own
        creativity. They make use of their creative nature in their jobs as well. They are constructive very much
        in terms of their occupation. Person with this name have a prophetic power. They can make prophesies and have an
        interest in religious matter. <br><br>These natives are men of logical thinking. They try to run everything as they need.
        If someone tries to control these natives, they will have an utter failure. These people with the influence of this name
        are extremely powerful and energetic. A patriotic character is seen in these people. They love their motherland as well as
        everyone around them. But these people need to be careful, as some of their close ones may cause them great loss.
    </p>
    <p>
        Person with name Toshi are with pragmatic approach to life.  are with pragmatic approach to life.  They like to resolve any problem without taking any aid from any second person. 
        They tend to adapt anything new that the circumstance shows them. All people with this name symbolize unlimited energy. Therefore, these natives have immense energy to carry out any job. 
        They have a thoughtful nature. They take pleasure in thinking about something. This might happen that due to this name effect the natives may face a trouble with their parents' health. 
        Optimistic attitude adds to the success of these persons. However much they earn, they should care for money unless they could not save anything for their future. 
        These people are perhaps masters of their field, but if they embark on starting some new work, they should consult with professionals. Or else they may face great disaster in economy. 
        These people have a high income. During their working life they can earn a plenty of money.  
    </p>
    <p>
        These natives much responsible and focus on their duties. They like to dominate people. Authority is their favourite. They are very much cunning. They tend to be agreed to achieve their goals. 
        There is a just nature in these natives. There is a proper blend of cunningness and intellect. Their intelligence helps them to reach to their ambitions. However, they are not only interested in their improvement, 
        but they set an example for others too. These individuals like to inspire other talented people. These natives have a fortunate life and inherent intelligence. With their credentials, they may start earning at a very early age. 
        Along with their intelligence, they have sufficient energy and enthusiasm. A tender heart characterizes these natives. They love humanity and may like to serve for the same. 
        They are not biased towards anyone and they hate illegal proceedings done by others. 
        Toshi comes under Virgo. Therefore, the natives of this name will more tend to business or Mathematics. Investigative mind is commonly seen in these people. These people can be violent often. 
        They can prove themselves very talented and skilful in various fields. A bossy attitude is inherently present in them. They often criticize others.
    </p>
    <p>
        T - You are patriotic by heart. You are born leader. You are dedicated. You are good human being. You are foody.<br>
        O - You are patriotic by heart. You are born leader. You are dedicated. You are fitness freak.<br>
        S - You are hard worker. You are dedicated. You are true poet. You are sea lovers. Sometimes you are selfish.<br>
        H - You are self centered personality. You are very intelligent. You are born talented. You possess excellent hand writing.<br>
        I - You have sharp features. Not so much dedicated towards your studies. You are good home maker. You have expertise at cooking.
    </p>
    <p>
        Toshi are very much loving and caring by nature. Love is the most priority of their life. They are true seeker of love and they are considered as born lover. They always love to be loved by someone. 
        They can sacrifice everything for their love. Their love life will give them many beautiful memories. They can able to balance their life in proper way. They are very close to their parents and their siblings as well. 
        They are loyal. Their excellent and extreme romantic quality will reward them a happy married life. They will earn lots of respect from their near and dear ones. Even they know how to achieve success. 
        They always keep their mind cool at any situation and this will help them to solve the situation very easily. 
    </p>
    <p>
         they are very creative by heart. They will have a strong power of writing, specially the creative writing. They like to spend their time by writing different types of creating contents. 
         They will able to make their fame by writing books, poems, news, stories and different types of creative contents. They can able to make their good and successful career in the writing fields. 
         They are also very much fond of dancing, painting, singing and many other creative activities. They have lots of love and respect towards different types of literature. Their speaking power is very strong. 
         They will have strong hold in multiple languages and this will help them to achieve a successful career. They can able to be a successful author or even a newspaper editor. They can flourish their career in singing and dancing sector too. 
         They are very much for positive minded people. From their childhood they don't know how to give up, what action they will take, they must complete that action at any cost. They are realistic by their nature. They love to live their lives by their own terms and conditions. They are born dreamer, and they know how to fulfill their dreams. 
         They are very good at their working environment.  They are able to achieve their success with their polite and professional behavior at their walking places. They are very much friendly with their colleagues. They will have many friends. 
         They are very much passionate and energetic towards their work. 
    </p>
</div>