<div class="about-us-header mt-3">
    <h2>Tentang Kami</h2>
    <h5>We are Toshi</h5>
</div>

<div class="about-us-body mt-3">
    <p>Toshi Meaning: "mirror reflection" or "year of plenty"</p>
    <p>
        Name Toshi is combinations of, one occurence of H, one occurence of I, one occurence of O,
        one occurence of S and occurence of T has lots of significance in Astrology.

        In Moon sign based Vedic Astrology, person with name Toshi have a character to remain faithful towards
        their work as well as towards their work mates. There is a chance that these people tend to make their
        world according to their own wish. These men and women love to be in a world of imagination made of their own
        creativity. They make use of their creative nature in their jobs as well. They are constructive very much
        in terms of their occupation. Person with this name have a prophetic power. They can make prophesies and have an
        interest in religious matter. These natives are men of logical thinking. They try to run everything as they need.
        If someone tries to control these natives, they will have an utter failure. These people with the influence of this name
        are extremely powerful and energetic. A patriotic character is seen in these people. They love their motherland as well as
        everyone around them. But these people need to be careful, as some of their close ones may cause them great loss.

        
    </p>
</div>