<div class="about-us-header mt-3">
    <h2>Tentang Kami</h2>
    <h5>We are Toshi</h5>
</div>

<div class="about-us-body mt-3">
    <p>Toshi Meaning: "mirror reflection" or "year of plenty".</p>
    <p>
        Name Toshi is combinations of, one occurence of H, one occurence of I, one occurence of O,
        one occurence of S and occurence of T has lots of significance in Astrology.

        In Moon sign based Vedic Astrology, person with name Toshi have a character to remain faithful towards
        their work as well as towards their work mates. There is a chance that these people tend to make their
        world according to their own wish. <br><br>These men and women love to be in a world of imagination made of their own
        creativity. They make use of their creative nature in their jobs as well. They are constructive very much
        in terms of their occupation. Person with this name have a prophetic power. They can make prophesies and have an
        interest in religious matter. <br><br>These natives are men of logical thinking. They try to run everything as they need.
        If someone tries to control these natives, they will have an utter failure. These people with the influence of this name
        are extremely powerful and energetic. A patriotic character is seen in these people. They love their motherland as well as
        everyone around them. But these people need to be careful, as some of their close ones may cause them great loss.
    </p>
    <p>
        Person with name Toshi are with pragmatic approach to life.  are with pragmatic approach to life.  They like to resolve any problem without taking any aid from any second person. 
        They tend to adapt anything new that the circumstance shows them. All people with this name symbolize unlimited energy. Therefore, these natives have immense energy to carry out any job. 
        They have a thoughtful nature. They take pleasure in thinking about something. This might happen that due to this name effect the natives may face a trouble with their parents' health. 
        Optimistic attitude adds to the success of these persons. However much they earn, they should care for money unless they could not save anything for their future. 
        These people are perhaps masters of their field, but if they embark on starting some new work, they should consult with professionals. Or else they may face great disaster in economy. 
        These people have a high income. During their working life they can earn a plenty of money.  
    </p>
    <p>
        These natives much responsible and focus on their duties. They like to dominate people. Authority is their favourite. They are very much cunning. They tend to be agreed to achieve their goals. 
        There is a just nature in these natives. There is a proper blend of cunningness and intellect. Their intelligence helps them to reach to their ambitions. However, they are not only interested in their improvement, 
        but they set an example for others too. These individuals like to inspire other talented people. These natives have a fortunate life and inherent intelligence. With their credentials, they may start earning at a very early age. 
        Along with their intelligence, they have sufficient energy and enthusiasm. A tender heart characterizes these natives. They love humanity and may like to serve for the same. 
        They are not biased towards anyone and they hate illegal proceedings done by others. 
        Toshi comes under Virgo. Therefore, the natives of this name will more tend to business or Mathematics. Investigative mind is commonly seen in these people. These people can be violent often. 
        They can prove themselves very talented and skilful in various fields. A bossy attitude is inherently present in them. They often criticize others.
    </p>
    <p>
    </p>
</div>